<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f99788">  <td>17/12/21 15:32:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PedidosTestes.fazer_CadastrarPedidosIcmsCorrecaoComSelo()[pri:0, instance:br.com.sanfit.steps.PedidosTestes@7ef2d7a6]">fazer_CadastrarPedidosIcmsCorrecaoComSelo</td> 
  <td>main@1209451152</td>   <td></td> </tr>
<tr bgcolor="9b6b76">  <td>17/12/21 15:34:32</td>   <td>96435</td> <td title="&lt;&lt;BaseTeste.tearDown()[pri:0, instance:br.com.sanfit.steps.PedidosTestes@7ef2d7a6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1209451152</td>   <td></td> </tr>
</table>
